
/*
    Librerias
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/*
    Inicio css
*/


:root {
    /* -----------------Inicio Declaracion variables colores ----------------- */

    --Color-background-error: #cf3d3d;
    --Color-letra-error: #fff;
}
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #3e8d8d;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}


header {
    margin-top: 0;
    width: 100%;
    background: #fff;
    padding: 50px;
}


.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #5cc4c3;
    margin-top: 0;
}


footer {
    height: 14%;
    background: #5cc4c3;
    position: relative;
}

/*
    -----------------------------------------------Inicio diseno container global -----------------------------------------------
*/


.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 95px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 600px;
    text-align: center;
    margin-top: 30px;
}

    .container p {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 0.3px;
        margin: 20px 0;
        text-align:center;
    }

    .container span {
        font-size: 12px;
    }




    /*
    -----------------------------------------------Inicio diseno global botones form-----------------------------------------------
*/

    .container button {
        color: black;
        font-size: 12px;
        padding: 10px 45px;
        border: 1px solid #f16242; /* Lineas del borde */
        border-radius: 8px;
        font-weight: 600;
        background: #f16242;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
    }

        /*
    -----------------------------------------------Fin diseno global botones form-----------------------------------------------
*/


        /*
    -----------------------------------------------Inicio diseno global botones toggle-----------------------------------------------
*/

        .container button.btn-iniciar-sesion {
            border: 1px solid #f16242; /* Lineas del borde */
            background: #f16242;
        }

        .container button.btn-salir {
            border: 1px solid #f16242; /* Lineas del borde */
            background: #f16242;
        }


            .container button.btn-salir:hover, .container button.btn-iniciar-sesion:hover { /* Funcionalidad hover para cambiar el color al pasar el cursor por el boton*/
                
                color: white;
                border: 1px solid #3e8d8d; /* Lineas del borde */
            }




    /*
    -----------------------------------------------Fin diseno global botones toggle-----------------------------------------------
*/


    /*
    -----------------------------------------------Inicio diseno global Forms de inicio de sesion y bienvenidos-----------------------------------------------
*/


    .container form {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1px 40px;
        height: 100%;
        
    }


    /*
    -----------------------------------------------Fin diseno global Forms de inicio de sesion y bienvenidos-----------------------------------------------
*/


    /*
    -----------------------------------------------Inicio diseno Input para iniciar sesion-----------------------------------------------
*/

.form-group input {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0, .1); /* Lineas del borde */
    
    border-radius: 5px; /* Borde redondeado,que tanto se quiere */
    font-size: 16px;
    color: black;
}

/*
    -----------------------------------------------Fin diseno Input para iniciar sesion-----------------------------------------------
*/




/*
    -----------------------------------------------Fin diseno container global -----------------------------------------------
*/




/*
    -----------------------------------------------Inicio form container global para Iniciar sesion y bienvenidos Principal-----------------------------------------------
*/



.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    
}

/*
    -----------------------------------------------Fin form container global para Iniciar sesion y bienvenidos Principal-----------------------------------------------
*/




/*
    -----------------------------------------------Inicio diseno form-container bienvenidos -----------------------------------------------
*/

.bienvenidos {
    left: 0;
    width: 50%;
    z-index: 2;
    bottom: 1%
}

.container.active .bienvenidos {
    transform: translateX(100%);
}


/*
    -----------------------------------------------Inicio diseno form-container iniciar-sesion -----------------------------------------------
*/



.iniciar-sesion {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    top:0%
}

.container.active .iniciar-sesion {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}


/* ------------- Inicio mensaje error al hacer login --------------- */

.errorLogin {
    position: relative;
    width: 250px;
    height: 60px;
    margin-bottom:30px;
    color: var(--Color-letra-error);
    background-color: var(--Color-background-error);
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
    
}

.errorLogin h3 {
    padding: 10px 5px;

}

/* ------------- Inicio mensaje error al hacer login --------------- */




/*
    -----------------------------------------------Fin diseno form-container iniciar-sesion -----------------------------------------------
*/


@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;                                           /* Configuracion antes del toggle*/
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 150px 150px 150px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 150px 150px 150px 150px;              /* Configuracion despues del toggle*/
}

.toggle {
    
    height: 100%;
    background: #3e8d8d;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;

}

/*
    -----------------------------------------------Inicio diseno Toggle bienvenidos Salir-----------------------------------------------
*/


.toggle-bienvenidos-salir {
    transform: translateX(-200%);
}

.container.active .toggle-bienvenidos-salir {
    transform: translateX(0);
}

/*
    -----------------------------------------------Fin diseno Toggle bienvenidos Salir-----------------------------------------------
*/



/*
    -----------------------------------------------Inicio diseno Toggle bienvenidos Iniciar Sesion-----------------------------------------------
*/

.toggle-bienvenidos-iniciar-sesion {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-bienvenidos-iniciar-sesion {
    transform: translateX(200%);
}




/*
    -----------------------------------------------Fin diseno Toggle bienvenidos Iniciar Sesion-----------------------------------------------
*/



.boton {
    color: black;
    font-size: 12px;
    padding: 10px 45px;
    
    border-radius: 8px;
    font-weight: 600;
    
    margin-bottom: 0;
    cursor: pointer;
    transition: 0.3s;
}

    .boton:hover { /* Funcionalidad hover para cambiar el color al pasar el cursor por el boton*/
        background-color: #3e8d8d;
        color: white;
        border-color: #3e8d8d;
    }












.form-group input::placeholder { /* texto dentro de los inputs*/
    color: black;
    text-align: center;
}


.form-group {
    position: relative;
    width: auto;
    height: 30px;
    margin: 5px 0; /* Margen que va a tener entre cada form-group */
    color: white;

}

   


    .form-group i { /* diseno para los iconos que estan dentro del form-group*/
        position: absolute;
        right: 20px;
        top: 20px;
        transform: translateY(-50%);
        font-size: 20px;
    }




.login-titulo {
    font-size: 30px;
    text-align: center;
    color: #242a2c;
    padding: 2px 2px;
    width: 100%;
}


.image-logo {
    position: absolute;
    top: 4%;
   
}


