@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


:root {
    /* -----------------Inicio Declaracion variables colores ----------------- */
    /* ----------  Diseno Fecha/hora ---------- */

    --border-radius-fecha: 10px;
    /* ----------  Diseno tabla ---------- */

    --color-letra-table-row: rgb(10, 10, 10);
    --color-botones-tabla: #242a2c;
    /* Diseno de letra bienvenida y filtrar por */

    --color-letra-filtrar-bienvenida: #242a2c;
    /* ----------  Diseno global ---------- */
    

    --color-base: #242a2c;
    --color-base2: rgb(10, 10, 10, 0.26);
    --shadow-global: 0 2rem 3rem var(--color-base2);
    --color-background-containers: #fff;
    --color-background: #e2e2e2; /* Color del background completo*/
    --radius-global: 5px;
    /* Title Side bar*/

    --color-sidebar-dropdown-title-submenu-hover: rgba(132,139,200,0.18);
    --color-sidebar-dropdown-title-background: #242a2c;
    --color-sibebar-dropdown-title-font: #fff;
    /* Submenu side bar*/

    --color-sidebar-dropdown-submenu-background: #242a2c;
    --color-sibebar-dropdown-submenu-font: #fff;
    --color-sidebar-dropdown-submenu-hover: rgba(132,139,200,0.18);
    /* ----------  Diseno popup ---------- */
    --color-background-button-popup: rgb(255, 106, 0, 0.6);
    --color-popup-checkbox: #242a2c;
    /* ----------  Diseno msj sql ---------- */

    --color-background-mensaje-sql-exitoso: #38ac81;
    --color-background-mensaje-sql-error: #c35252;
    --color-letra-mensaje-sql-exitoso: #d5ddde;
    --color-letra-mensaje-sql-error: #242a2c;
    /* -----------------Fin Declaracion variables colores ----------------- */
}



* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



body, html {
    width: 100vw;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    height:100%;
    background: #3e8d8d;
}


.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #5cc4c3;
    margin-top: 0;
}


footer {
    height:12%;
    background: #5cc4c3;
    position: relative;
    margin-bottom:0;
}

/*
    -----------------------------------------------Inicio diseno Iconos redes sociales-----------------------------------------------
*/
.icons-sociales {
    
   
    color: #ffffff; /*color global para texto,iconos */
    width: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left:50%;
}




.a-iconos {
    width: 200px;
    
    color: black;
   
    margin-right:100px;
    margin-bottom:50px;
    font-size: 25px;
}

    .a-iconos i {
        transition: all 0.3s;
    }

    .a-iconos:hover {
        font-size: 30px; /* Icono aumenta tamano al hover*/
        color: #fcb851; /* Icono cambia color al hover*/
    }


/*
    -----------------------------------------------Fin diseno Iconos redes sociales-----------------------------------------------
*/


header{
    background: #fff;
    height:80px;
}

.titulo {
    padding: 25px 25px;
    color:#3e8d8d;
    text-align:center;
    font-size:20px;
}

button {
    background-color: transparent; /* Para que todos los botones tengan background transparente*/
    color:#f16242;
}

.boton-Exportar{
    color:#f16242;
}



.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 10rem; /* tamano de : aside or side section  /  center section / right section*/
}




a {
    color: #3e8d8d;
}


img {
    display: block;
    margin-left: 15%;
   
}


/*-------------------------- Inicio Font Titulos ------------------------------*/


h1 {
    font-weight: 800;
    font-size: 15px;
}

h2 {
    color: var(--color-base);
    font-size: 25px;
}

h3 {
    font-size: 18px;
    display: flex; /*titulos del sidebar*/
}



span {
    margin-right: 10px;
    margin-bottom: 10px;
}

/*--------------------------Fin Font Titulos ------------------------------*/

aside {
    height: 60vh;
    margin: 0;
}



p {
    color: var(--color-letra-filtrar-bienvenida);
}


    /* ---------------- Side bar a la izquierda ----------------  */




ul{
    text-align:center;
    background:#fff;
}

ul li{
    display: inline-block;
    position:relative;
}

ul .logo{
    float: left;
    width:250px;
}

ul .logout {
    float: right;
    margin-right: 0;
    display:flex;
}

ul li a{
    display:block;
    padding:30px 25px;
    font-size:16px;
    text-align:center;
    margin-right:15px;
}

ul li ul li a{
    padding:10px 25px;
    text-align:left;
    
}


ul li ul.dropdown li {
    display:block;
    
}


ul li ul.dropdown{
    width:100%;
    position:absolute;
    z-index: 999;
    display:none;
    box-shadow: var(--shadow-global);
    
}


ul li a:hover{
    color:#5cc4c3;
}

ul li ul li a:hover{
    color:#fff;
}

ul li ul li:hover{
    background:#5cc4c3;
}


ul li:hover ul.dropdown{
    display:block;
}






/*  ---------------------- Inicio diseno iconos exportar y agregar ------------------  */

.agregar-exportar-iconos {
    display: inline-flex;
    margin-bottom: 10px;
    background: var(--color-background-containers);
    border-radius: var(--radius-global);
    box-shadow: var(--shadow-global);
    
    float: right;
    gap: 10px; /* Espacio ente cada elemento*/
}

.agregar-exportar-iconos a , .agregar-exportar-iconos button {
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 3px;
} 


.agregar-exportar-iconos a{
    color:#f16242;
}

.filtrar-undo-iconos {
    display: inline-flex;
    margin-bottom: 10px;
    background: var(--color-background-containers);
    border-radius: var(--radius-global);
    box-shadow: var(--shadow-global);
   
    gap: 15px; /* Espacio ente cada elemento*/
}

.filtrar-undo-iconos button{
     margin-left:10px;
     margin-top:10px;
     cursor: pointer;
      padding: 3px;
} 

.filtrar-undo-iconos button:hover{
color: #5cc4c3;
cursor: pointer;
}


.agregar-exportar-iconos a:hover, .agregar-exportar-iconos button:hover {
    color: #5cc4c3;
    border-radius: 13px;
}

/*  ---------------------- Inicio diseno mensaje sql ------------------  */


.mensaje-sql-exitoso {
    display: inline-flex;
    margin-right: 70px;
    height: 50px;
    background: var(--color-background-mensaje-sql-exitoso);
    color: var(--color-letra-mensaje-sql-exitoso);
    border-radius: var(--radius-global);
    box-shadow: var(--shadow-global);
    padding: 6px;
    gap: 10px; /* Espacio entre cada elemento*/
    justify-content: center;
    align-items: center;
}


.mensaje-sql-error {
    display: inline-flex;
    margin-right: 70px;
    height: 50px;
    background: var(--color-background-mensaje-sql-error);
    color: var(--color-letra-mensaje-sql-error);
    border-radius: var(--radius-global);
    box-shadow: var(--shadow-global);
    padding: 6px;
    gap: 10px; /* Espacio entre cada elemento*/
    justify-content: center;
    align-items: center;
}





/*  ---------------------- Inicio diseno mensaje sql ------------------  */



/*  ---------------------- Inicio diseno filtrar tabla ------------------  */

.filtros {
    display: flex;
    gap: 4px;
}

.filtrosreportes {
    gap: 9px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
    padding-top:15px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    display: inline-flex;
    width: 100%;
    text-align: center;
}

.filtrosreportes .filtrar-undo-iconos{
    margin-left:20px;

}


.filtrar1 {
    display: flex;
    background: var(--color-background-containers);
    border-radius: var(--radius-global);
    box-shadow: var(--shadow-global);
    width: 20%;
    height: 50px;
    padding: 1%;
    color:#3e8d8d;
}



    .filtrar1 input {
        width: 70%;
        height: 50%;
        border-bottom: solid 1px;
        background-color: transparent;
        margin-top: 4px;
        color: #3e8d8d;
    }

.filtrar1 p {
    color: #3e8d8d;
    font-weight: 600;
}




.filtrar1reportes p{
    color:#3e8d8d;
    font-weight:800;
}


.filtrar1reportes input {
    width: 100px;
    height: 50%;
    border-bottom: solid 2px;
    margin-right: 1px;
    color: #3e8d8d;
}


/*  ---------------------- Fin diseno filtrar tabla ------------------  */


/* ----------------------- Inicio estilo de la tabla ----------------------- */
main .tabla {
    margin-top: 2rem;
    width: 1600px;
    margin-left: 140px;
    margin-bottom: 45%;
    font-weight: 500;
    height: 370px;

}

    main .tabla tbody tr:hover {
        background: #3e8d8dbf;
        color: white;
        overflow: visible;
    }

  th{
        position:sticky;
        top:0;
        background:#3e8d8d;
        color:white;
    }

    main .tabla table {
        background: rgb(250, 248, 246);
        width: 100%;
        border-radius: var(--radius-global);
        padding: 25px;
        text-align: center;
        box-shadow: var(--shadow-global);
        transition: all 300ms ease;
    }

        main .tabla table:hover {
            box-shadow: none;
        }


main table tbody td, main table thead th {
    height: 2.8rem;
    
    border-left: 1px solid var(--color-base2); /* linea de abajo de cada fila*/
    border-right: 1px solid var(--color-base2); /* linea de abajo de cada fila*/
  
}

    main table tbody td button {
        color: #5cc4c3;
    }



.tbl-scroll {
    overflow: hidden;
    margin-top: 10px;
    max-height: 370px;
    margin-bottom: 5px;
}

    .tbl-scroll:hover {
        margin-top: 5px;
        max-height: 370px;
      
        overflow-y: scroll;
    }


    /* ----------------------- Fin estilo de la tabla ----------------------- */
    /* -------------------- Fin Main,centro pagina-------------------*/
    /* ----------------------- Inicio top derecha----------------------- */
   

       



/* ----------------------- Fin top derecha----------------------- */



/* ----------------------- Inicio popup edit ----------------------- */


/*  ---------------------- Inicio Instrucciones ------------------  */


.instrucciones {
    position: relative;
    background: var(--color-background-containers);
    border-radius: 15px 0px 0px 15px;
    width: 400px;
    text-align: left;
    height: 100%;
    padding: 2%;
    border-right: solid 3px;
    border-color: #3e8d8d;
    justify-content: center;
    align-items: center;
}


/*  ---------------------- Fin Instrucciones ------------------  */



/*  ---------------------- Inicio popup container global------------------  */

.show-popup-agregar, .show-popup-editar, .show-popup-eliminar {
    cursor: pointer;
}


.botonesEliminar{
    margin-left:40px;
    
}

.botonesEliminar button{
    width:50%;
    
}

.popup-container-agregar, .popup-container-editar, .popup-container-eliminar {
    position: absolute;
    width: 70%; /*width para el form */
    height: 74%; /*height para el form */

    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    margin-left: 10%;
    margin-right: 23rem;
    margin-top: 4%;
    display: flex;
    padding: 0;
}

    .popup-container-agregar button, .popup-container-editar button, .popup-container-eliminar button {
        color: #fff;
        font-size: 12px;
        padding: 10px 45px; /*Configuracion global button dentro del popup container global*/
        background: #f16242;
        border-radius: 8px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 10px;
        margin-left: 20%;
        cursor: pointer;
    }



    .popup-container-agregar.active, .popup-container-editar.active, .popup-container-eliminar.active {
        opacity: 1;
        pointer-events: auto;
        transition: .4s ease;
    }


.boton-popup {
    cursor: pointer;
}


/*  ---------------------- Fin popup container global------------------  */
/* ------------------------------------ Inicio formulario  ------------------------------------ */
.popup-agregar, .popup-editar, .popup-eliminar {
    padding: 3%; /*Espacio borde de arriba/abajo, izquierda/derecha*/
    background: #fff;
    border-radius: 0px 15px 15px 0px;
    text-align: left;
    display: flex;
    width: 430px;
    height: 100%;
}



.form-group {
    position: relative;
    width: 300px;
    height: auto;
    margin-bottom: 20px; /*espacio entre cada Li*/
    align-items: center;
    left: 4%;
    right: 4%;
    
}

.form-group .sub {
    font-size:15px;
    font-weight:600;
}


    .form-group input, .form-group select {
        width: 35%;
        height: auto;
        border: none;
        outline: none;
        border-bottom: 2px solid rgb(10, 10, 10); /* Lineas del borde */
        font-size: 13px;
        margin-left: 25px;
        float: right;
    }




    .form-group button {
        width: 70%;
        height: 40px;
        background: #ffffff;
        border: none;
        outline: none;
        border-radius: 40px; /* Borde redondeado,que tanto se quiere */
        box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
        font-size: 26px;
        font-weight: 1000;
        cursor: pointer;
    }

.botonagregardiv {
    width: 100%;

}


.botonagregardiv .boton-agregar {
    margin-left: 30%;
  
}

.botonagregardiv .boton-editar {
    margin-left: 27%;
   
}


.boton-agregar:hover {
    color: #5cc4c3;
}

.instrucciones .boton-cerrar {
    margin-left: 25%;
}

.boton-cerrar:hover {
    color: #5cc4c3;
}

.titulo h2 {
    text-align: center;
    color: #3e8d8d;
}


.form-control {
    text-align: center;
}


/* ------------------------------------ Fin formulario  ------------------------------------ */




/* ----------------------- Fin popup edit ----------------------- */


/*  Indice  */


.Indiceleft, .Indiceright {
    height: 370px;
    background: #fff;
    width: 500px;
    border-radius: 5px;
}

.indice{
  margin-left:21.8%;
    display:flex;
    margin-top:3%;
    margin-bottom:3.4%;
    gap:5%;
    
}


